.github-repositories{
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 20px 20px ;
    background: #fff;
    /* border-radius: 5px; */
    /* border: 1px solid #ddd; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.github-repo{
    width: 30%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 3px;
    padding: 15px;

}

.github-repo-name{
    font-size: 20px;
    color: #444;
    margin-top: 10px;
    font-weight: bold;
}
.github-repo-description{
    text-align: justify;
}

.github-repo-url{
    text-decoration: none;
}

.github-repo p {
    font-size: 16px;
    color: #777;
    margin-top: 15px;
    line-height: 24px;
}